.todo__newnote {
  z-index: 10;
  position: absolute;
  top: 15%;
  right: 34%;
  width: 500px;
  height: 290px;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;

  display: none;
}

.todo__newnote-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 18px 30px 0;
  gap: 1.5625rem;
  width: 100%;
}

.todo__newnote-title {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

.todo__newnote-input {
  width: 90%;
  background-color: #F7F7F7;
  border-radius: 5px;
  border: 1px solid #6C63FF;
  padding: 8px 12px;
}

.todo__newnote-input::placeholder {
  color: #C3C1E5;
  font-family: 'inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.todo__newnote-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 18px;
  width: 90%;
}

.todo__newnote-button {
  border-radius: 5px;
  border: 1px solid #6C63FF;
  padding: 10px 22px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #6C63FF;
}

.button-apply {
  color: var(--color-white);
  background-color: #6C63FF;
}