@import url(./global.css);
@import url(./reset.css);
@import url(./fonts.css);
@import url(./root.css);

.todo {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 0 auto;
  width: 100vh;
  min-height: 100vh;
}

.todo__container {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 40px;
  width: 100vh;
}

.todo__title {
  font-size: 26px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-black);
}

.todo__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 18px;
  gap: 16px;
}

.todo__footer {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}