.todo__search-container {
  position: relative;
  width: 100%;
}

.todo__search {
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--color-blue);
  padding: 11px 16px;
}

.todo__search::placeholder {
  color: #c3c1e5;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.todo__lodo-search {
  position: absolute;
  right: 0;
  top: 0;
}